@font-face {
  font-family: 'myfont';
  src: url('../../css/consolas.ttf') format("truetype");
}

/* 选中背景和字体颜色 */
::selection {
  background: rgb(86, 86, 87);
  color: #fff;
}

::-moz-selection {
  background: rgb(86, 86, 87);
  color: #fff;
}

::-webkit-selection {
  background: rgb(86, 86, 87);
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Consolas, 'myfont';
  overflow: hidden;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.mbg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 3s
}

input,
select,
textarea,
button {
  font-family: inherit;
}

pre {
  position: relative;
}

pre .codeCopy {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  color: #ccc;
  font-size: 26px;
  transition: .3s;
}

pre .shrink {
  color: #aaa;
  font-weight: 700;
  width: 30px;
  line-height: 30px;
}

pre .shrink:hover,
pre .codeCopy:hover {
  color: #2fc956;
}

pre .codeCopy:hover,
pre code:hover+.codeCopy {
  display: block;
}

.markdownBox {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1500px;
  background-color: #ffffffc4;
  display: flex;
  flex-flow: column;
}

.markdownBox .topBox {
  flex: none;
  border-bottom: 1px solid #aaa;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.markdownBox .topBox div {
  margin: 10px;
}

.markdownBox .topBox .title {
  flex: auto;
  max-width: 400px;
}

.markdownBox .topBox .title input {
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
  outline: none;
  text-align: center;
  font-size: 24px;
  border: none;
  color: #5e5d5d;
  background: transparent;
  -webkit-appearance: none;
  border-bottom: 1px solid #ccc;
}

.markdownBox .topBox .sloseShow,
.markdownBox .topBox .textData,
.markdownBox .topBox .fullScreenShow,
.markdownBox .topBox .save {
  flex: none;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 26px;
  color: rgb(134, 134, 134);
}

.markdownBox .topBox .sloseShow {
  font-size: 35px;
}

.markdownBox .topBox .save.active {
  color: #1dd6d6;
}

.markdownBox .topBox .sloseShow:active,
.markdownBox .topBox .save:active {
  transition: 0s;
  opacity: .2;
}

.markdownBox .topBox .fullScreenShow:hover,
.markdownBox .topBox .sloseShow:hover,
.markdownBox .topBox .save:hover {
  color: #000;
}


.markdownBox .editBox {
  flex: auto;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 60%;
  word-break: break-all;
}

.markdownBox .editBox .showBox,
.markdownBox .editBox .codeBox {
  flex: 1 0 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  line-height: 30px;
  background-color: #f5f5f575;
}

.markdownBox .editBox .codeBox {
  border: none;
  border-right: 1px solid #aaa;
  outline: none;
  font-size: 18px;
  resize: none;
}

.markdownBox .editBox .codeBox.open {
  border: none;
}

.markdownBox img {
  max-width: 100%;
}

.navwrap {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

nav {
  width: 80%;
  max-width: 500px;
  height: 100%;
  overflow-y: auto;
  color: #e7f1ff;
  background-color: #6c6c6cee;
  transform: translateY(-100%);
  opacity: 0;
  transition: .5s;
}

nav.open {
  transform: translateY(0);
  opacity: 1;
}

nav .dirBox {
  margin: 0;
  padding: 20px;
}

nav .dirBox li {
  display: flex;
  padding: 0;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

nav .dirBox li .textname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: auto;
  text-align: center;
  width: 0;
}

nav .dirBox li .delete {
  flex: none;
  width: 40px;
  text-align: center;
}

nav .dirBox li span:hover {
  color: #2fc956;
}

nav .dirBox li .delete:hover {
  color: red;
}

body {
  cursor: url("../../img/normal.cur"), default
}

[cursor]:hover {
  cursor: url("../../img/link.cur"), pointer
}