html {
  width: 100%;
  height: 100%
}

body {
  font-size: 16px;
}

.table-box {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  max-width: 1400px;
  min-width: 1000px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  word-break: break-all;
}

tbody tr.active {
  color: #155724;
  background-color: #d4edda;
}

thead tr {
  color: #004085;
  height: 50px;
  background-color: #cce5ff;
}

button {
  outline: none;
  height: 30px;
  border: none;
  font-size: 16px;
  padding: 0 8px;
  transition: 0.3s;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin: 5px 0;
}

button:hover {
  color: rgb(255, 255, 255);
  background-color: #aaa;
}