body,
html {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to top, #a8edea 0, #fed6e3 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mbg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 3s
}

.box .musiclrcwrap {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: 90%;
  max-height: 1000px;
  background-color: #000;
  box-shadow: 2px 2px 10px #000;
  overflow: hidden;
  border-radius: 10px;
  color: #ccc;
  display: flex;
  flex-flow: column;
}

.box .musiclrcwrap .from {
  flex: none;
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 20px;
  color: #fdfdfc8a;
  z-index: 1;
  font-size: 16px
}

.box .musiclrcwrap .musicbg {
  position: absolute;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #e5e5e5 0, #c3c392 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.1);
  filter: blur(10px);
  transition: transform 0.3s, filter 1s, opacity 1s;
  pointer-events: none;
}

.box .musiclrcwrap .musicbg.open {
  opacity: .3
}

.box .musiclrcwrap .musicbg.fopen {
  opacity: .8;
  transform: scale(1);
  filter: blur(0);
}

.box .musiclrcwrap .mlrcbox {
  flex: auto;
  height: 0;
  display: flex;
  flex-flow: column;
}

.box .musiclrcwrap .mlrcbox .mhead {
  flex: none;
  height: 60px;
  display: flex;
}

.box .musiclrcwrap .mlrcbox .mhead .home {
  flex: none;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}

.box .musiclrcwrap .mlrcbox .mhead .musicconfig {
  flex: auto;
  width: 0;
  height: 60px;
  box-sizing: border-box;
}

.box .musiclrcwrap .mlrcbox .mhead .musicconfig .mname {
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.box .musiclrcwrap .mlrcbox .mhead .musicconfig .martist {
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: rgb(171 171 162);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}


.box .musiclrcwrap .mlrcbox .musiclrc {
  flex: auto;
  height: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 8%;
}

.box .musiclrcwrap .mlrcbox .musiclrc .operation {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.box .musiclrcwrap .mlrcbox .musiclrc .operation .mvon,
.box .musiclrcwrap .mlrcbox .musiclrc .operation .lrcfyon {
  display: none;
  padding: 5px;
  margin-right: 10px;
  font-size: 18px;
  float: left;
}

.box .musiclrcwrap .mlrcbox .musiclrc .operation .mvon:hover,
.box .musiclrcwrap .mlrcbox .musiclrc .operation .lrcfyon:hover {
  color: #fff;
}

.box .musiclrcwrap .mlrcbox .musiclrc .lrc {
  width: 100%;
  height: 100%;
  color: #7c7b7b;
  box-sizing: border-box;
}

.box .musiclrcwrap .mlrcbox .musiclrc .lrc div {
  padding-bottom: 22px;
  transition: opacity 0.5s ease-out, letter-spacing .1s;
  opacity: 1;
}

.box .musiclrcwrap .mlrcbox .musiclrc .lrc div p {
  white-space: pre-wrap;
  word-break: break-word;
}

.box .musiclrcwrap .mlrcbox .musiclrc .lrc div .lrcfy {
  padding-top: 10px;
}

.box .musiclrcwrap .mlrcbox .musiclrc .lrc div.open {
  opacity: 0.1;
}

.box .musiclrcwrap .mlrcbox .musiclrc .lrc div.active {
  color: #fff;
  letter-spacing: 1px;
  opacity: 1;
}

.box .musiclrcwrap .mlrcbox .musicbar {
  width: 100%;
  height: 60px;
  display: flex;
}

.box .musiclrcwrap .mlrcbox .musicbar #play {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 40px;
}

.box .musiclrcwrap .from span:hover,
.box .musiclrcwrap .mlrcbox .mhead .home:hover,
.box .musiclrcwrap .mlrcbox .musicbar #play:hover {
  color: #fff
}

.box .musiclrcwrap .mlrcbox .musicbar .prowrap {
  position: relative;
  flex: auto;
  width: 0;
  height: 60px;
}

.box .musiclrcwrap .mlrcbox .musicbar .prowrap .probox {
  height: 10px;
  margin-top: 25px;
  overflow: hidden
}

.box .musiclrcwrap .mlrcbox .musicbar .prowrap .probox .pro1 {
  width: 90%;
  height: 2px;
  border-radius: 10px;
  margin: 4px auto;
  background-color: #ccc
}

.box .musiclrcwrap .mlrcbox .musicbar .prowrap .probox .pro1 .pro2 {
  width: 0;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to right, green, orange, red);
}

.box .musiclrcwrap .mlrcbox .musicbar .prowrap .probox .pro1 .pro2 .dolt {
  float: right;
  transform: translateX(50%);
  margin-top: -3px;
  width: 4px;
  height: 8px;
  background-color: #ccc;
}

.box .musiclrcwrap .mlrcbox .musicbar .prowrap .current_time {
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  left: 10px
}

.box .musiclrcwrap .mlrcbox .musicbar .prowrap .total_time {
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  right: 10px
}

.musicmv {
  display: none;
  width: 100%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 9;
}

.mvonoffbox {
  width: 100%;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
}

.videowrap {
  width: 100%;
  padding: 0 2px;
  box-sizing: border-box;
}

.mvoffxs,
.mvoff {
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: #868686;
}

.mvoffxs:hover,
.mvoff:hover {
  color: #000;
}

@media (min-width:800px) {
  .mvoffxs {
    display: none;
  }
}

@media (max-width:800px) {
  .box .musiclrcwrap {
    width: 100%;
    height: 100%;
    max-height: 100%;
    box-shadow: none;
    border-radius: 0;
  }

  .mvoff {
    display: none;
  }

  /* MV */
  .musicmv {
    max-width: none;
    height: 100%;
    border-radius: 0;
  }

  .videowrap {
    width: 100%;
    height: 100%;
    padding: 0 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.box .musiclrcwrap .mlrcbox .mhead .home:active,
.box .musiclrcwrap .mlrcbox .musicbar #play:active,
.box .musiclrcwrap .mlrcbox .musiclrc .operation .mvon:active,
.box .musiclrcwrap .mlrcbox .musiclrc .operation .lrcfyon:active {
  transition: 0s;
  opacity: .2;
}

@keyframes fontcolor {
  0% {
    color: #000000;
  }

  100% {
    color: #fff;
  }
}