body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000e3;
}

body:before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-size: cover;
}

.mbg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../img/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000e3;
  pointer-events: none;
  opacity: 0;
  transition: opacity 3s
}

.toplist {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  transition: .8s;
  background-color: #ffffffad;
  text-align: center;
  z-index: 4
}

.toplist.open {
  top: 0
}

.toplist .topcenter {
  position: relative;
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
  display: flex;
  padding: 20px 0;
}

.toplist .topcenter input {
  margin: 0 10px;
  width: 0;
  text-align: center;
  max-width: 200px;
  flex: auto;
  border: none;
  outline: none;
  background-color: #d9d6d68a;
  height: 40px;
  font-size: 18px;
  transition: .5s;
  border-radius: 4px;
}

.toplist .topcenter input:focus {
  background-color: #ffffffa8;
  max-width: 400px;
}

.toplist .topcenter .addnote,
.toplist .topcenter .pagenote {
  flex: none;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #7a7e7e;
}

.toplist .topcenter .addnote:hover,
.toplist .topcenter .pagenote:hover {
  color: #0ebfeb
}

.pagingbox {
  width: 100%;
  margin: 50px auto;
}

.menu {
  width: 98%;
  max-width: 800px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0 40px 0;
  font-size: 16px;
  color: #838181;
}

.menu ul {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row;
  padding: 10px 0;
  font-size: 18px;
  background-color: rgba(248, 245, 245, .836);
  margin-bottom: 2px;
  border-radius: 2px;
  overflow: hidden;
}

.menu p {
  padding: 10px;
  background: #00000070;
  color: #16cbba;
  line-height: 20px;
  font-size: 16px;
  white-space: pre-wrap;
  word-break: break-word;
}

.menu ul:hover {
  background-color: #fff;
}

.menu ul li {
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  word-break: break-word;
}

.menu ul .delnote,
.menu ul .erweima,
.menu ul .logo,
.menu ul .notemenu,
.menu ul .noteshare {
  flex: none;
  width: 40px;
  justify-content: center;
  font-size: 20px;
  line-height: 22px;
}

.menu ul .check {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.menu ul .noteshare {
  color: #b9b5b5
}

.menu ul .noteshare.open {
  color: #f44336
}

.menu ul .delnote:hover,
.menu ul .notemenu:hover,
.menu ul .erweima:hover {
  color: rgb(51, 63, 167)
}

.menu ul .noteitem {
  flex: auto;
  line-height: 22px;
  color: #2d2e2e;
}

.menu ul .noteitem:hover {
  color: #f807b0
}

footer {
  position: fixed;
  display: none;
  background-color: rgb(248 245 245 / 91%);
  bottom: 0;
  width: 100%;
  z-index: 6;
}

footer div {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
  padding: 5px 0;
  box-sizing: border-box;
}

footer span {
  flex: none;
  color: rgb(68, 68, 68);
  font-size: 22px;
  margin: 5px 10px;
  width: 25px;
  text-align: center;
  line-height: 25px;
}

footer button {
  flex: none;
  outline: none;
  height: 25px;
  border: 1px solid #ccc;
  padding: 0 8px;
  background: #ccc;
  margin: 5px;
}

footer button:hover {
  color: #0f6ce6;
}

button:active,
.menu ul:active,
.pagingbox li[cursor]:active,
.toplist .topcenter .addnote:active,
.toplist .topcenter .pagenote:active {
  transition: 0s;
  opacity: .2;
}

.menu ul:active {
  transform: scaleY(1.1)
}

.showpage {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(248 245 245 / 70%);
  font-size: 20px;
  color: #444444;
  outline: none;
  border: 1px solid #aaa;
  z-index: 5;
}