pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px
}

code,
.hljs {
  font-family: Consolas, 'myfont';
  color: #3e5915;
  background: #e1e1d3;
  border-radius: 4px;
  padding: 0px 6px;
  border: 1px solid transparent;
}

.hljs-keyword,
.hljs-literal,
.hljs-selector-tag {
  color: #059
}

.hljs-subst {
  color: #3e5915
}

.hljs-addition,
.hljs-attribute,
.hljs-built_in,
.hljs-bullet,
.hljs-link,
.hljs-section,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable {
  color: #2c009f
}

.hljs-comment,
.hljs-deletion,
.hljs-meta,
.hljs-quote {
  color: #e60415
}

.hljs-doctag,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-section,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-strong,
.hljs-title,
.hljs-type {
  font-weight: 700
}

.hljs-emphasis {
  font-style: italic
}


table {
  margin: 10px auto;
}

table,
td,
tr,
th {
  border: 1px solid #aaa;
  border-collapse: collapse;
  padding: 10px;
  color: rgb(112, 112, 112);
}

th {
  color: rgb(109, 108, 108);
  font-weight: bold;
}

em,
strong,
u,
del {
  padding: 0px 6px;
}

blockquote {
  color: #666;
  border-left: 4px solid #ddd;
  padding-left: 20px;
  margin-left: 0;
}